@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
  
  :root{
  --navcolor:white;
  --navfont:black;
  --box-shadow:0 .5rem 1rem rgba(0,0,0.1)
}
  
 
* { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    text-decoration: none; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
} 

body{
  background-color: #fefefe;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  background-color: #f9f9f9;
    padding-inline: 12px;
  
}

.widget-container {
    width: 100%;
    height: 100vh; /* Set a fixed height for the widget */
    align-items: center;
}




 

.footer-top { 
  background-color: var(--eerie-rgb(0, 0, 0)-1); 
} 

    

*,:before,:after { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
} 





[data-section] > *  { 
  transform: translateY(50px); 
  opacity: 0; 
  transition: var(--transition-3);
} 

@media (min-width: 575px){ 
.container { 
  max-width: 540px; 
  width: 100%; 
  margin-inline: auto;
} 
}     

@media (min-width: 768px){ 
.container { 
  max-width: 750px;
} 
}     

@media (min-width: 992px){ 
.container { 
  max-width: 960px;
} 
}     

@media (min-width: 1200px){ 
.container { 
  max-width: 1280px;
} 
}     

[data-section].active > *  { 
  opacity: 1; 
  transform: translateY(0);
} 

.footer-top .container  { 
  display: grid; 
  gap: 20px;
} 

@media (min-width: 768px){ 
.footer-top .container  { 
  grid-template-columns: repeat(3, 1fr);
} 
}     

@media (min-width: 1200px){ 
.footer-top .container  { 
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
} 
}     

@media (min-width: 768px){ 
.footer-brand { 
  grid-column: 1 / 3;
} 
}     

@media (min-width: 1200px){ 
.footer-brand { 
  grid-column: auto;
} 
}     

a { 
  text-decoration: none; 
  color: inherit;
    display: block;
  
} 







.footer-title { 
  color: var(--#f7e4e4); 
  font-size: var(--fs-3); 
  margin-block: 25px 20px;
} 

.footer-contact-link:not(:last-child) { 
  margin-block-end: 12px;
} 

address { 
  font-style: normal;
} 

address.footer-contact-link { 
  max-width: 30ch;
} 

li { 
  list-style: none;
} 

.footer-list > li:not(:last-child)  { 
  margin-block-end: 10px;
} 

.footer-list > li:first-child  { 
  margin-block-end: 20px;
} 

img { 
  display: block;
    height: auto;
  
} 



.footer-list-title { 
  color: var(--#f7e4e4); 
  font-size: var(--fs-7); 
  font-weight: var(--fw-700); 
  text-transform: uppercase; 
  letter-spacing: 1px;
} 

.footer-link { 
  color: var(--rgb(220, 220, 220)); 
  transition: var(--transition-1);
} 

.footer-link:is(:hover, :focus) { 
  color: var(--rgb(0, 0, 255)-crayola);
} 






