
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body{
    background-image: url("");

    background-color: #2b06c1;
  font-family: 'Poppins', sans-serif;


    

}
.logo{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }


.regform{ 

    width:430px;
    background-color:white;
    padding: 20px 20px 20px 20px;


    margin: 20px auto ;
    color:black;
  
    font-size: 20px;
    border-radius: 10px ;
    /* border: 1px solid black; */
    
}
.regformf{
  width:480px;
    background-color:white;

    margin: 20px auto ;
    color:black;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    border-radius: 10px ;

}


 #heading{
    margin-top:0;
    color:black;
    text-align: center;
    font-size: 28px;
    
}
form{
    /* width:400px; */
}
.input input, input[type="file"]{
    width:100%;
    font-size:20px;
    border:.5px solid #63707E;
    
    border-radius: 6px;
    padding:14px 15px;
    box-sizing:border-box;
    margin:5px 0px 15px;
    color:black;
}

input:focus{
    background-color:white;
}


.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
button{
    background-color:black;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    padding: 14px 16px;
    border-radius: 8px;
    border: .5px solid black;
    width: 100%;
    
}
.radio .value{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    

}

.radio input{
    transform: scale(1.5);

}
button:hover{
    /* background-color:white; */
    color: #eeeeee;
    transform: scale(.98);

  
}
.regform .signin-up{
    font-size: 20px; 
    text-align: center;
}
.password{
  position: relative;
}
.password input{
  width:100%;
  font-size:20px;
  border:.5px solid #63707E;
  
  border-radius: 6px;
  padding:14px 15px;
  box-sizing:border-box;
  margin:5px 0px 15px;
  color:black;
  
}
.fa-eye-slash{
  position:absolute;
  top:28%;
  right: 4%;
  cursor: pointer;

}
.bi{
  position:absolute;
  top:28%;
  right: 4%;
  cursor: pointer;

}
.uil{
  
  top:50%;
 bottom: 4%;
  right: 4%;
  cursor: pointer; 
  position: absolute;
  transform: translateY(-50%);
  color: #595757;
  font-size: 23px;
  transition: all 0.2s ease;
}

#file-upload {
  display: none;
}

/* Style the custom file upload button */
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: .5px solid #63707E; /* Green border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Larger text */
  font-family: Arial, sans-serif; /* Font family */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}



/* Style for the file name display */
#file-name {
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333; /* Dark gray text */
}



@media (max-width: 767px) {


    .regform{ 
      /* position: absolute;
      top: 50%;
      left: 50%; */
    
        width: 300px;
        background-color:white;

    
        margin: 40px auto ;
        color:black;
        padding: 20px 20px 20px 20px;
        font-size: 15px;
        
    }
    .regformf{
      width: 300px;
        background-color:white;

    
        margin: 40px auto ;
        color:black;
        padding: 20px 20px 20px 20px;
        font-size: 15px;
        /* border: 1px solid black; */
        

    }
    .logo{
        text-align: center;
        font-size: 18px;
        color:black;
      }
      #heading{
        margin-top:0;
        color:black;
        text-align: center;
        font-size: 22px;
        
    }
    #signin-up{
      /* font-size: 16px; */
    }
    button{
      font-size: 16px;
    }
    .input input{
        font-size: 16px;
    }
    .radio input{
        transform: scale(1.1);
    }
    .image-radio-group img{
        width: 300px;
      }
}

#dobError {
            display: none;
            color: red;
        }
.error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #d93025;
  
}
h1{
  /* font-size: 29px; */
}